.html_template{
    display: none;
}

#resultcontent{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.followsticky{
    position: sticky;
}

#resultaten{
    order: 2;
}

.marker_group .title_container{
    display: flex;
}

.highlight_marker_fade{
    background-color: rgb(210, 210, 210) !important;
}

.niveau_indicator{
    width: 10px;
    height: 1em;
    background-color: black;
    border-width: 1px;
    border-color: white;
    content: ".";
    display: inline-block;
}

td{
    height: 1.5em;
    padding: 0;
    border: 1px solid black;

}


.toetsniveau_0 {
    background-color: grey;
}
.toetsniveau_1 {
    background-color: lightblue;
}
.toetsniveau_2 {
    background-color: lightgreen;
}
.toetsniveau_3 {
    background-color: orange;
}

/*Marker indicators*/
.color_0{
    color: red;
}

.niveau_indicator.color_0{
    background-color: red;
}

.color_1{
    color: blue;
}

.niveau_indicator.color_1{
    background-color: blue;
}

.color_2{
    color: rgb(255, 0, 200);
}

.niveau_indicator.color_2{
    background-color: rgb(255, 0, 200);
}

.color_3{
    color: yellow;
}

.niveau_indicator.color_3{
    background-color: yellow;
}

.color_4{
    color: rgb(0, 255, 34);
}

.niveau_indicator.color_4{
    background-color: rgb(0, 255, 34);
}

.color_5{
    color: turquoise;
}

.niveau_indicator.color_5{
    background-color: turquoise;
}