.highlight_marker{
    /* background-color: ; */
}

.highlight_marker_fade{
    background-color: rgb(210, 210, 210) !important;
}

.niveau_indicator{
    width: 10px;
    height: 1em;
    background-color: black;
    border-width: 1px;
    border-color: white;
    content: ".";
}

td{
    height: 1.5em;
    padding: 0;
    border: 1px solid black;

}


.toetsniveau_0 {
    background-color: grey;
}
.toetsniveau_1 {
    background-color: lightblue;
}
.toetsniveau_2 {
    background-color: lightgreen;
}
.toetsniveau_3 {
    background-color: orange;
}

/*Marker indicators*/
.color_0{
    color: red;
}

.niveau_indicator.color_0{
    background-color: red;
}
.color_1{
    color: blue;
}

.niveau_indicator.color_1{
    background-color: blue;
}